
@media screen and (max-width: 1920px){ 
    #admin_header{
        margin-top: 3%;
        margin-left: 100px;
        border-bottom: 2px solid rgb(132, 165, 255);
    }

    .dashboard_container .category{

        margin-left: 100px;
        margin-top: 140px;   
    }

    .dashboard_container .authors{

        margin-left: 450px;
        margin-top: -160px;   
    }

    .dashboard_container .authors h6{
        margin-top: 10px; 
    }

    .dashboard_container .books{

        margin-left: 800px;
        margin-top: -165px;   
    }

    .dashboard_container .books h6{
        margin-top: 10px; 
    }

    .dashboard_container .students{

        margin-left: 1150px;
        margin-top: -170px;   
    }

    .dashboard_container .students h6{
        margin-top: 10px; 
    }

    .dashboard_container {
        margin-top: -100px; 
    }

    #user_header{
        margin-top: 3%;
        margin-left: 100px;
        border-bottom: 2px solid rgb(132, 165, 255);
    }

    .container_form{
        border: 1px solid rgb(132, 165, 255);
        border-radius: 5px;
        max-width: 400px;
        margin: auto;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 70px;
        margin-top: 45px;
        margin-left: 100px;
    }

    #profile_header{
        color: rgb(68, 118, 255);
        text-align: center;
        border-bottom: 2px solid rgb(132, 165, 255);

    }

    label[for="username"]{
        padding-top: 10px;
    }

    input[type=text]{
    margin-bottom: 5px;
    width: 100%;
    padding: 15px;
    border-radius:5px;
    border: 1px solid gray;
    font-size:15px;
    }
    

}