@media screen and (max-width: 1950px){   /* -------------css for pc--------------*/

    footer{
        height: 50px;
        background-color: rgb(93, 158, 255);
        color:white;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    .footer {
        
        padding-top: 4px;

    }

    .footer h5{
        font-size: 15px;
    }


}   