@media screen and (max-width: 1950px){

    .content-wrapper{
        margin-top: 20px;
    }
    
    .table-responsive{
        width: 100%;
    }

    .header-line {
        padding-top: 60px;
    }

    tbody {
        text-align: center;
    }

    thead {
        text-align: center;
    }

    button {
        cursor: not-allowed ;
    }

}